%h1.title.is-2.has-text-left-aligned My Skills
.has-text-left-aligned
  %p
    I am a
    %span.primary.bold full stack web developer
    specializing in
    %span.primary.bold Ruby
    and
    %span.primary.bold Ruby on Rails.
    I love working with the full stack of an application, but feel more at home with the back-end.
    I like being able to see the big picture of an application so I can see how all the pieces fit together, and make sure that everything is communicating properly with one another.
  %p
    My current skillset includes:
  %h1.subtitle.is-3 Back-end Programming Languages
  %ul.columns
    %li.column.is-3
      %span.primary.bold
        %i.icon-ruby.fa-2x
        Ruby
    %li.column.is-3
      %span.primary.bold
        %i.icon-nodejs.fa-2x
        Node.js
  %h1.subtitle.is-3 Back-end Frameworks
  %ul.columns
    %li.column.is-3
      %span.primary.bold
        %i.icon-ruby-on-rails.fa-2x
        Ruby on Rails
    %li.column.is-3
      %span.primary.bold
        %i.fa.fa-server.fa-2x{"aria-hidden" => "true"}
        Express.js
  %h1.subtitle.is-3 Front-end Libraries
  %ul.columns
    %li.column.is-3
      %span.primary.bold
        %i.icon-reactjs.fa-2x
        React
    %li.column.is-3
      %span.primary.bold
        %i.icon-d3.fa-2x
        D3.js
    %li.column.is-3
      %span.primary.bold
        %i.icon-jquery.fa-2x
        jQuery
  %h1.subtitle.is-3 Front-end Frameworks
  %ul.columns
    %li.column.is-3
      %span.primary.bold
        %a{:href => 'https://bulma.io/'}
          Bulma
    %li.column.is-3
      %span.primary.bold
        %a{:href => 'http://www.material-ui.com/'}
          Material UI
    %li.column.is-3
      %span.primary.bold
        %a{:href => 'https://semantic-ui.com/'}
          Semantic UI
    %li.column.is-3
      %span.primary.bold
        %a{:href => 'https://getbootstrap.com/'}
          Bootstrap
  %h1.subtitle.is-3 Front-end Langauges
  %ul.columns
    %li.column.is-3
      %span.primary.bold
        %i.icon-html5.fa-2x
        HTML5
    %li.column.is-3
      %span.primary.bold
        %i.icon-css3.fa-2x
        CSS3
    %li.column.is-3
      %span.primary.bold
        %i.icon-javascript.fa-2x
        Javascript
        
%h2.subtitle.is-4
%br/
%p.has-text-centered
  %a.button.is-medium.is-info.is-outlined
    Check out my Codefights
