.container.has-text-centered
  .tile.is-ancestor
    .tile.is-4
    .tile.is-vertical.is-4
      .tile
        .tile.is-parent.is-vertical
          %article.tile.is-child#index-persistent
            = render :partial => 'partials/persistent_section_without_headshot'
          %article.tile.is-child#index-persistent-text
            Standardization and optimization make happy clients and programmers.
            Learning and engineering ways to make that a reality is a passion of mine.
          %article.tile.is-child#index-persistent-text
            = link_to 'View My Portfolio', portfolio_path, class: ['button', 'is-medium', 'is-info', 'is-outlined']
