.container.has-text-centered
  .columns.is-vcentered
    .column.is-6.is-offset-3#index-persistent
      = render :partial => 'partials/persistent_section'
      %p#index-persistent-text
        Standardization and optimization make happy clients and programmers.
        Learning and engineering ways to make that a reality is a passion of mine.
