.container.has-text-centered
  .columns.is-vcentered
    .column.is-6.is-offset-3
      #index-persistent
        = render :partial => 'partials/persistent_section'
      %p#index-persistent-text I believe looking for ways to make things more efficient and standardized makes everyone's job that much more effective and enjoyable. Fortunately, I love learning and engineering these solutions as much as I enjoy Crusader Kings II or Settlers of Catan.
