%h1.title.is-1 Resume
= react_component("ResumeTabs")
-# .vw60.scrollable
-#   %script{:src => "https://gist.github.com/Foozie3Moons/99c76c81ceffaa86d2d170671998452e.js"}
%embed.vw60.scrollable{:width => '100%', height: '100%', :src => pdf_path}
%hr
= link_to 'Full Screen', pdf_path, :class => ['button', 'is-info', 'is-outlined'], :target => :_blank
= link_to 'Download', pdf_download_path, :class => ['button', 'is-info', 'is-outlined']
