%h1.title.is-1 Resume
%embed{:src => pdf_path, :type => 'application/pdf'}
%hr
= link_to 'Full Screen', pdf_path, :class => ['button', 'is-info', 'is-outlined']
= link_to 'Download', pdf_download_path, :class => ['button', 'is-info', 'is-outlined']
