.container
  .columns
    .column.is-8.is-offset-2.background-opaque
      %h1.title.is-1 Contact Me
      %hr
      %h2.subtitle
        There used to be a contact form here, but <span class="red">bad bots</span> ruined it! If you'd like to contact me, send me an email at <a href="mailto:matthew.bell.290@gmail.com"><span class="primary">matthew.bell.290@gmail.com</span></a>
