.tabs.is-centered.is-fullwidth#about-tabs-phone
  %ul
    %li{:class => is_active?(about_bio_path)}
      = link_to about_bio_path do
        %span.icon.is-small
          %i.fa.fa-user-circle
        %span Bio
    %li{:class => is_active?(about_testimonials_path)}
      = link_to about_testimonials_path do
        %span.icon.is-small
          %i.fa.fa-comments
        %span Testimonials
    %li{:class => is_active?(about_life_path)}
      = link_to about_life_path do
        %span.icon.is-small
          %i.fa.fa-futbol-o
        %span Life
