.container.has-text-centered
  .columns.is-vcentered
    .column.is-3.animated.fadeInLeft#persistent-container{'data-turbolinks-permanent' => ''}
      = render :partial => 'partials/persistent_section'
    .column.is-8.is-offset-1
      = yield
