<div class="container has-text-centered">
  <h3 class='title'>A Rails 5 Portfolio</h3>
  <%= link_to 'View on Github',
    'https://github.com/Foozie3Moons/rails-portfolio',
    class: ['button', 'is-medium', 'is-info', 'is-outlined'] %>
</div>
