.has-text-centered
  %h3.subtitle A Rails 5 Portfolio
  = link_to 'View on Github',                               |
    'https://github.com/Foozie3Moons/rails-portfolio',      |
    class: ['button', 'is-small', 'is-info', 'is-outlined'] |
