<div>
  <h1 class='title is-1'>Matthew Bell</h1>
</div>
<figure class="image is-4by3">
  <%= image_tag "headshot.jpg", alt: 'headshot' %>
</figure>
<div>
  <h1 class="subtitle is-2">
    Full Stack Ruby Developer
  </h1>
</div>
<div>
  <p class="is-4">
    I'm always looking for ways to better myself and the lives of the people around me.
    I strive to write code that helps people unlock their true potential.
  </h2>
</div>
