%figure.image
  = image_tag "headshot.jpg", class: ['headshot'], style: {margin: '0 auto'}, alt: 'headshot'
%div
  %h1.title.is-3.bold Matthew Bell
%div
  %h1.primary.is-6.primary.bold
    Full Stack Ruby Developer
