%h1.title.has-text-left-aligned.is-1 My Skills
.has-text-left-aligned.background-opaque.vh65
  %h1.subtitle.is-4 Back-end Programming Languages
  %ul.columns
    %li
      %span.primary.bold
        &nbsp&nbsp
        %i.icon-ruby
        Ruby
        &nbsp&nbsp&nbsp&nbsp&nbsp
    %li
      %span.primary.bold
        &nbsp&nbsp
        %i.icon-nodejs
        Node.js
  %h1.subtitle.is-4 Back-end Frameworks
  %ul.columns
    %li
      %span.primary.bold
        &nbsp&nbsp
        %i.icon-ruby-on-rails
        Ruby on Rails
        &nbsp&nbsp&nbsp&nbsp&nbsp
    %li
      %span.primary.bold
        &nbsp&nbsp
        %i.fa.fa-server
        Express.js
        &nbsp&nbsp&nbsp&nbsp&nbsp
  %h1.subtitle.is-4 Database Management Systems
  %ul.columns
    %li
      %span.primary.bold
        &nbsp&nbsp
        %i.icon-mysql-alt
        MySQL
        &nbsp&nbsp&nbsp&nbsp&nbsp
    %li
      %span.primary.bold
        &nbsp&nbsp
        %i.icon-postgres
        PostgreSQL
        &nbsp&nbsp&nbsp&nbsp&nbsp
    %li
      %span.primary.bold
        &nbsp&nbsp
        %i.icon-mongodb
        MongoDB
        &nbsp&nbsp&nbsp&nbsp&nbsp
  %h1.subtitle.is-4 Front-end Libraries
  %ul.columns
    %li
      %span.primary.bold
        &nbsp&nbsp
        %i.icon-reactjs
        React
        &nbsp&nbsp&nbsp&nbsp&nbsp
    %li
      %span.primary.bold
        &nbsp&nbsp
        %i.icon-d3
        D3.js
        &nbsp&nbsp&nbsp&nbsp&nbsp
    %li
      %span.primary.bold
        &nbsp&nbsp
        %i.icon-jquery
        jQuery
  %h1.subtitle.is-4 Front-end Frameworks
  %ul.columns
    %li
      %span.primary.bold
        &nbsp&nbsp
        Bulma
        &nbsp&nbsp&nbsp&nbsp&nbsp
    %li
      %span.primary.bold
        &nbsp&nbsp
        Material UI
        &nbsp&nbsp&nbsp&nbsp&nbsp
    %li
      %span.primary.bold
        &nbsp&nbsp
        Semantic UI
    %li
      %span.primary.bold
        &nbsp&nbsp
        Bootstrap
  %h1.subtitle.is-4 Front-end Langauges
  %ul.columns
    %li
      %span.primary.bold
        &nbsp&nbsp
        %i.icon-html5
        HTML5
        &nbsp&nbsp&nbsp&nbsp&nbsp
    %li
      %span.primary.bold
        &nbsp&nbsp
        %i.icon-css3
        CSS3
        &nbsp&nbsp&nbsp&nbsp&nbsp
    %li
      %span.primary.bold
        &nbsp&nbsp
        %i.icon-javascript
        Javascript
        &nbsp&nbsp&nbsp&nbsp&nbsp
