.column.is-6
  %h1.title.is-3 CostuME (React Hackathon)

  %p
    A fully functional
    %span.primary.bold React
    app built in 24 hours. This was intended to be a collaboration between two devs and two ux designers,
    however due to designer illnesses and an unfortunate developer coffee accident I ended up building the entire thing myself.
    Because of my proper planning throughout the hackathon, I was able to ship a product that met all the requirements.
  %br
  .is-size-4.bold Technologies Used:
  .is-size-7.bold
    %span.primary React
  %br
  %p
    = link_to 'Github', 'https://github.com/Foozie3Moons/react-ecommerce-hackathon',
      class: ['button', 'is-small', 'is-info', 'is-outlined'], target: :_blank
    = link_to 'Website', 'https://react-ecommerce-hackathon.herokuapp.com/',
      class: ['button', 'is-small', 'is-info', 'is-outlined'], target: :_blank
.column.is-6
  = link_to 'https://react-ecommerce-hackathon.herokuapp.com', target: :_blank do
    = image_tag 'react_hackathon_screenshot'
