.column.is-6
  .title.is-3 Eoen Loan Calculator

  %h5.bold

  %p
    This is a pet project of mine. Calculating loan data from user input, saving the user's data, and visualizing it with
    %span.primary.bold D3.
    Proper working auth with
    %span.primary.bold passport
    and
    %span.primary.bold session.
  %br
  .is-size-4.bold
    Technologies Used:
  .is-size-7.bold
    %span.primary Node.js
    |
    %span.primary Jade/Pug
    |
    %span.primary PostgreSQL
    |
    %span.primary D3.js
    |
    %span.primary Semantic UI
  %br
  %p
    = link_to 'Github', 'https://github.com/Foozie3Moons/eoen',
      class: ['button', 'is-small', 'is-info', 'is-outlined'], target: :_blank
    = link_to 'Website', 'https://eoen.herokuapp.com',
      class: ['button', 'is-small', 'is-info', 'is-outlined'], target: :_blank
.column.is-6
  = link_to 'https://eoen.herokuapp.com', target: :_blank do
    = image_tag 'eoen_screenshot'
