.column.is-6
  %h1.title.is-3 Voy Travel
  %p
    A
    %span.primary.bold Ruby on Rails
    and
    %span.primary.bold React
    project seeking to create a universal rewards token for travel rewards and beyond.
  %br
    .is-size-4.bold Ruby on Rails Expertise:
    .is-size-7.bold
      %span.primary Engines
      |
      %span.primary Rspec
      |
      %span.primary Guard
      |
      %span.primary Rubocop
      |
      %span.primary Devise
      |
      %span.primary Doorkeeper
      |
      %span.primary Postgres
      |
      %span.primary Redis
    .is-size-4.bold React Expertise:
    .is-size-7.bold
      %span.primary Redux
      |
      %span.primary React Native
    .is-size-4.bold Other Expertise:
    .is-size-7.bold
      %span.primary Redis
      |
      %span.primary Heroku
      |
      %span.primary AWS
      |
      %span.primary Sendgrid
  %p
    = link_to 'Public Website', 'https://voytravel.com/',
      class: ['button', 'is-small', 'is-info', 'is-outlined'], target: :_blank
.column.is-6
  = link_to 'https://voytravel.com/', target: :_blank do
    = image_tag 'voy_rewards'
