= "Dear #{@name}"

Thank you for reaching out! I have received your email, and I will respond
as soon as I can. For your records, here is a copy of what I received:

= @body

If you believe you have receive this email in error, please let me know!

Sincerely,

Matthew Bell
Software Development Engineer
matthew.bell.290@gmail.com
mjbell.io
