%p= "Dear #{@name},"

%p
  Thank you for reaching out! I have received your email, and I will respond
  as soon as I can. For your records, here is a copy of what I received:
%blockquote
  = simple_format(@body)
%p If you believe you have receive this email in error, please let me know!
%p Sincerely,
%p
  Matthew Bell
  %br
  Software Development Engineer
  %br
  matthew.bell.290@gmail.com
  %br
  %a{href: 'https://mjbell.io'}
    mjbell.io
