%blockquote
  %h1.title.is-3
    %span.primary.bold David Simon
  %h1.subtitle.is-7
    %span Software Engineer | American Councils: Online Learning and Assessment
  %p
    As his co-worker for the last two years in the Online Learning and Assessment Department at
    American Councils for International Education, I have seen Matthew quickly gain considerable
    ability in database administration and general programming. Matthew has written software tools
    which are now an essential part of daily operations in our office. Our department grapples with
    many complex demands and subtleties, but Matthew was not fazed by this and got quickly up to
    speed, not only understanding our business logic but making useful contributions to it on both
    technical and personal levels. Matthew has also been voraciously studying programming in his
    free time, and I can personally attest to his growing capabilities in that field.
