%blockquote
  As an instructor at General Assembly I've seen many students come into to my class.
  Rarely has a student exhibited as much understanding and creativity as Matt.
  What's more, during group projects Matt proved himself to be a valuable asset to
  the group dynamics and organization of his team. I'm excited to see what Matt does
  with his career because I know he'll do great things.
  %h1.title.is-3
    %span.primary-dark.bold Jackson Duhon
  %h1.subtitle.is-5
    %span.primary-dark.bold Instructional Associate at General Assembly
