%blockquote
  %h1.title.is-3
    %span.primary.bold Khalel Dumaz
  %h1.subtitle.is-7
    %span Lead Product Designer | Voy
  %p
    As the Lead product designer at Voy, Matt was by far the most productive engineer on our team.
    He always implemented my designs exactly to spec.
    Highly recommend Matt and would absolutely love to work with him again someday.
