%blockquote
  %h1.title.is-3
    %span.primary.bold Richard Jordan
  %h1.subtitle.is-7
    %span President & CTO | Voy
  %p
    Matthew has been a star hire for us at Voy. He joined as nominally the junior
    engineer on the team but quickly impressed by his willingness to learn,
    his hard work, and his ability to deliver results. He's also a great person
    who added a lot of character and personality to the team. He takes coaching well.
    I highly recommend Matthew, and I think that anywhere he lands will be
    rewarded for adding him to the team.
