%blockquote
  %h1.title.is-3
    %span.primary.bold Steven Peters
  %h1.subtitle.is-7
    %span Instructional Lead | General Assembly
  %p
    Matt was one of the leading students in the immersive from the very beginning.
    He has an inquisitive nature and a good mind for development. He always sought to learn and
    implement something above and beyond the assigned projects. He has a passion for data visualization
    and Ruby. I would recommend Matt to any employer.
