= render :partial => 'partials/about_tabs'

.scrollable.has-text-left-aligned.about.content
  %h1.title.is-2.first Hi, I'm Matt
  %p.second
    I am a
    %span.primary.bold full stack web developer
    currently specializing in
    %span.primary.bold Ruby
    and
    %span.primary.bold Ruby on Rails.
    I love working with the full stack of an application, but feel more at home
    with the back-end. I like being able to see the big picture of an application
    so I can see how all the pieces fit together, and make sure that everything
    is communicating properly with one another.
  %h1.title.is-3.third My Passion
  %p.fourth
    My passion for coding came from an inability to solve simple problems in a
    fast and efficient way. Data stored in spreadsheets just does not cut it.
    So I started learning
    %span.primary.bold Ruby
    in my free time, and eventually used that knowledge to
    %span.primary.bold write useful scripts
    to
    %span.primary.bold automate tasks professionally,
    such as document parsing and data organization. These scripts took several hours to create,
    and saved several days if not weeks of manual work entering and reviewing that work.
    Then, as I graduate
    %span.primary.bold General Assembly's Web Development Immersive
    program, I found that my prior experience allowed me to fully appreciate everything
    it had to offer, and now I build
    %span.primary.bold full stack applications
    from scratch. I'm excited to continue to learn, grow, and share my knowledge
    as I use and develop new technologies to solve problems big and small.
  %h1.title.is-3.fifth Learn More
  %p.sixth
    = link_to contact_path, :class => ['button', 'is-info', 'is-outlined', 'is-small'] do
      Reach out via email
    &nbsp;and check out my
    = link_to portfolio_path, :class => ['button', 'is-info', 'is-outlined', 'is-small'] do
      porfolio
    &nbsp;for a sample of my code. Feel free to ask me any questions.
