= render :partial => 'partials/about_tabs'

.scrollable.has-text-left-aligned.content#about
  %h1.title.is-2.first By day: Ruby developer. By night: gamer, tech enthusiast, and outdoorsman.
  %h1.title.is-4.second Gamer
  %p.second
    I enjoy a good game, but strategy games are by far my favorite. Strategy games are inheritly puzzle games. They confront me with unexpected problems and challenge me to solve them, and on Ironman mode every decision has consequences.
  %p.third
    Some of my favorite strategy games:
  %ul.third
    %li Europa Universalis IV
    %li Crusader Kings II
    %li Rimworld
    %li Battle Brothers
    %li Tactics Ogre
    %li Romance of the Three Kingdoms III
    %li Langrisser II
    %li Fire Emblem (any of them really)
  %h1.title.is-4.third Tech Enthusiast
  %p.fourth
    New technologies are always exciting to learn about. It's the main reason I'm a programmer. I love challenging myself on codefights or reading up the latest blog about how to use CSS stylings to do crazy animations. Programming aside, new tech such as self-driving cars and drones are incredibly interesting to me as these technologies will soon be commonplace in 5 to 10 years. Personally, I can't wait for hovercars.
  %h1.title.is-4.fiftb Outdoor Enthusiast
  %p.sixth
    I knew I was fond of the outdoors, but living in Seattle and seeing how intense the passion for the outdoors is, I feel very humbled and right at home. The hikes, the scenic mountain views, the backcountry camping... there are so many unique places to explore which makes me excited to get up and out by a campfire.
  %p
