= render :partial => 'partials/about_tabs'

.scrollable.has-text-left-aligned.content
  %h1.title.is-2 By day: Ruby developer. By night: gamer, tech enthusiast, and outdoorsman.
  %h1.title.is-4 Gamer
  %p
    I enjoy a good game, but strategy games are by far my favorite. I love strategy games because they're inheritly puzzle games. They confront me with unexpected problems and challenge me to solve them, and on Ironman mode every decision has consequences.
  %p
    Some of my favorite strategy games:
  %ul
    %li Europa Universalis IV
    %li Crusader Kings II
    %li Rimworld
    %li Battle Brothers
    %li Tactics Ogre
    %li Romance of the Three Kingdoms III
    %li Langrisser II
    %li Fire Emblem (any of them really)
  %h1.title.is-4 Tech Enthusiast
  %p
    I love learning about and engaging with new technologies. It's the main reason I'm a programmer. I love challenging myself on codefights or reading up the latest blog about how to use CSS stylings to do crazy animations. Programming aside, new tech such as self-driving cars and drones are incredibly interesting to me as these technologies will soon be commonplace in 5 to 10 years. Personally, I can't wait for hovercars.
  %h1.title.is-4 Outdoor Enthusiast
  %p
    I knew I loved the outdoors, but it's a completely different beast in Washington. The hikes, the scenic mountain views, the backcountry camping... there are so many unique places to explore which makes me excited to get out.
  %p
