= render :partial => 'partials/about_tabs'

.scrollable.has-text-left-aligned.content
  %h1.title.is-1 Testimonials
  %h1.subtitle.is-3 Short testimonials from former colleagues
  %hr
  %blockquote
    Matt is smart, articulate, conscientious and an extremely hard worker.
    Throughout his tenure at American Councils, Matt juggled a wide array of
    tasks and coordinated hundreds of high stakes online testing events.
    Among Matt’s strongest qualities are his innovative spirit and his ability
    to create and stream line workflows for complex processes.  Because of his
    good work, our organization is stronger and more efficient than it was two
    years ago.
    %h1.title.is-3
      %span.primary.bold Ken Petersen, Ph.D.
    %h1.subtitle.is-5
      %span.primary-dark.bold Technical Director: Online Learning and Assessment
  %hr
  %blockquote
    As his co-worker for the last two years in the Online Learning and Assessment Department at
    American Councils for International Education, I have seen Matthew quickly gain considerable
    ability in database administration and general programming. Matthew has written software tools
    which are now an essential part of daily operations in our office. Our department grapples with
    many complex demands and subtleties, but Matthew was not fazed by this and got quickly up to
    speed, not only understanding our business logic but making useful contributions to it on both
    technical and personal levels. Matthew has also been voraciously studying programming in his
    free time, and I can personally attest to his growing capabilities in that field.
    %h1.title.is-3
      %span.primary.bold David Simon
    %h1.subtitle.is-5
      %span.primary-dark.bold Software Engineer: Online Learning and Assessment
  %hr
