.background-container {
  height: 100%;
}

.background-svg {
  position:absolute;
  z-index: -1;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
}

.background-inner {
  // position: relative;
}

.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}

.hexagon {
  fill: #212121;
  pointer-events: all;
}

.hexagon path {
  -webkit-transition: fill 250ms linear;
  transition: fill 250ms linear;
}

.hexagon :hover {
  fill: pink;
}

.hexagon .fill {
  fill: #76FF03;
}

.mesh {
  fill: none;
  stroke: #000;
  stroke-opacity: .2;
  pointer-events: none;
}

.border {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
  pointer-events: none;
}
