// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bulma";
@import "font-awesome-sprockets";
@import "font-awesome";

.primary {
  color: #76FF03;
}

span.primary.bold a:hover {
  border-bottom: 2px solid #76FF03;
}

.underline a:hover {
  border-bottom: 3px solid #76FF03;
}

li.is-active * {
  color: #212121 !important;
}

.tabs li:hover {
  background-color: #64DD17;
}

.persistent-container {
  padding: 2em;
}

.bold {
  font-weight: bold;
}

.bg-white {
  background-color: white;
}

.full-height {
  height:70vh;
}

.has-text-left-aligned {
  text-align: left;
}

.is-active {
  background-color: #76FF03 !important;
  color: #212121 !important;
}

.about-me * {
  margin: .5em 0
}

.button.is-info.is-outlined {
  color: #76FF03;
  border-color: #76FF03;
}

.button.is-info.is-outlined:hover {
  background-color: #76FF03;
  border-color: #76FF03;
  color: #212121;
}

.logo {
  background-color: #212121;
}

.headshot {
  max-width: 400px;
  max-height: 400px;
  border-radius: 50%;
  margin: 0 auto;
}

.headshot.thumbnail {
  max-width: 150px;
  max-height: 150px;
}
