// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bulma";
@import "font-awesome-sprockets";
@import "font-awesome";

$primary: #76FF03;
$primary-dark: #64DD17;
$primary-darker: #3C840D;
$secondary: #212121;
$secondary-light: #E3E3E3;

@mixin disabled-button() {
  color: #76FF03;
  border-color: #76FF03;
  background-color: inherit;
}

html {
  background-color: black;
}

.link {
  color: $primary !important;
  text-decoration: underline;
}

.title {
  font-family: Helvetica;
}

.subtitle {
  font-family: Garamond
}

.hero.is-dark.is-bold {
  background-image: none;
}

.navbar-dropdown {
  background-color: $secondary;
  color: white;
}

.navbar-item.has-dropdown.is-hoverable {
  color: white;
}

.navbar-link::after {
  border: none;
}

.navbar-item.has-dropdown.is-hoverable:hover>a {
  background-color: $primary-dark;
}

.navbar-item.has-dropdown.is-hoverable.is-active-dropdown:hover {
  background-color: $primary;
}

.primary {
  color: $primary !important;
}

.primary-dark {
  color: $primary-dark;
}

.hero.is-dark {
  background-color: rgba(0,0,0,.8);
}

.hero-body {
  padding-top: 0;
}

li.is-active * {
  color: $secondary !important;
}

.tabs li:hover {
  background-color: $primary-dark;
}

.persistent-container {
  padding: 2em;
}

.table {
  background-color: rgba(255,255,255,.7);
  color: black;
  border-radius: 5px 5px 0 0;
  border: $secondary;
}

.bold {
  font-weight: bold !important;
}

.scrollable {
  overflow-y: auto;
  overflow-x: hidden;
  height: 600px;
}

.scrollable::-webkit-scrollbar {
  width: 12px;
}

.bg-white {
  background-color: white;
}

a span.primary.bold:hover {
  color:  !important;
}

.scrollable::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: rgb(150,150,150);
  border-radius: 10px;
}

.scrollable::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
  background-color: $primary-dark;
}

.full-height {
  height:70vh;
}

.hexagon {
  fill: #212121;
  pointer-events: all;
}

.hexagon path {
  -webkit-transition: fill 250ms linear;
  transition: fill 250ms linear;
}

.hexagon :hover {
  fill: pink;
}

.hexagon .fill {
  fill: $primary;
}

.mesh {
  fill: none;
  stroke: #000 ;
  stroke-opacity: 1;
  pointer-events: none;
}

.border {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
  pointer-events: none;
}

.background-container {
  height: 100%;
}

.background-svg {
  position:fixed;
  z-index: -1;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
}

.background-inner {
  // position: relative;
}

.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}

.hero-foot {
  margin-bottom: 1em;
}

.is-active, .is-active-dropdown {
  background-color: $primary !important;
  color: $secondary !important;
}

.is-active-dropdown:hover > a, .is-active-dropdown:hover {
  background-color: $primary !important;
  color: $secondary !important;
}

.has-text-left-aligned {
  text-align: left;
}

.navbar-item:not(.is-active, .brand):hover {
  background-color: $primary-dark !important;
  color: $secondary !important;
}

.about-me * {
  margin: .5em 0
}

.button.is-info.is-outlined {
  color: $primary;
  border-color: $primary;
}

.button.is-info.is-outlined:hover {
  background-color: $primary;
  border-color: $primary;
  color: $secondary;
}

.button.is-info.is-outlined[disabled=disabled] {
  @include disabled-button();
}

.button.is-info.is-outlined[disabled=disabled]:hover {
  @include disabled-button();
}

.logo {
  background-color: #212121;
}

.headshot {
  max-width: 400px;
  max-height: 400px;
  border-radius: 50%;
  margin: 0 auto;
}

.headshot.thumbnail {
  max-width: 150px;
  max-height: 150px;
}

embed {
  height: 60vh;
  width: 100%;
}

blockquote {
  background-color: $secondary !important;
  color: white;
}

@media screen and (max-width: 1023px) {
  .headshot {
    border-radius: 50%;
    max-width: 150px;
    max-height: 150px;
    margin: 0 auto;
  }
  .navbar-burger.burger {
    color: white !important;
    background-color: #212121 !important;
  }

  .navbar-burger.burger.is-active {

  }

  .navbar-menu {
    position: absolute;
    width: 100vw;
    z-index: 999;
  }

  .is-active {
    background-color: $primary !important;
    color: $secondary !important;
  }

  .navbar-item:not(.is-active) {
    color: $secondary-light !important;
  }

  .navbar-item:not(.is-active):hover {
    background-color: $primary !important;
    color: $secondary !important;
  }

  .full-height {
    height:20vh;
  }

}

@media screen and (max-width: 1023px) {
  .scrollable {
    overflow-y: auto;
    overflow-x: hidden;
    height: 400px;
  }
}

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

    .is-active-dropdown {
      color: $secondary !important;
    }

    .has-dropdown.is-active-dropdown.is-hoverable.navbar-item > a {
      color: $secondary !important;
    }

    #persistent-container {
      display: none;
    }

    #about-tabs-phone {
      display: none;
    }

    #footer-phone {
      display: none;
    }

    .scrollable {
      height: 78vh;
      margin: 1em 0 0 0;
    }

    .column.is-8.is-offset-1 {
      padding-right: 0;
    }

}
