// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bulma";
@import "font-awesome-sprockets";
@import "font-awesome";

.bold {
  font-weight: bold;
}

.hero-foot {
  margin-bottom: 1em;
}

.is-active {
  background-color: #76FF03 !important;
  color: #212121 !important;
}

.navbar-item:not(.is-active):hover {
  background-color: #64DD17 !important;
  color: #212121 !important;
}

.about-me * {
  margin: .5em 0
}

.button.is-info.is-outlined {
  color: #76FF03;
  border-color: #76FF03;
}

.button.is-info.is-outlined:hover {
  background-color: #76FF03;
  border-color: #76FF03;
  color: #212121;
}

.title {
  color: #18FFFF !important;
}

@media screen and (max-width: 1023px) {
  .navbar-menu.is-active {
    background-color: none;
    color: white;
  }

  #nav-menu {
    background-color: #212121 !important;
    color: white;
  }

  .is-active {
    background-color: #76FF03 !important;
    color: #212121 !important;
  }

  .navbar-item:not(.is-active) {
    color: #E3E3E3 !important;
  }

  .navbar-item:not(.is-active):hover {
    background-color: #64DD17 !important;
    color: #212121 !important;
  }
}
